<!-- task-list.page.html -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-button expand="block" routerLink="/create-task" class="ion-margin-bottom">
    <ion-icon name="add-circle" slot="start"></ion-icon>
    Add Task
  </ion-button>

  <ion-card *ngFor="let task of tasks">
    <ion-card-header>
      <ion-card-title>{{ task.title }}</ion-card-title>
      <ion-card-subtitle>{{ task.dueDate | date }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>{{ task.description }}</p>
      <ion-chip [color]="getPriorityColor(task.priority)">
        <ion-label>{{ task.priority }}</ion-label>
      </ion-chip>
      <ion-badge [color]="task.status === 'Completed' ? 'success' : 'warning'">
        {{ task.status }}
      </ion-badge>

      <ion-buttons slot="end" class="ion-float-right">
        <ion-button fill="clear" color="tertiary" [routerLink]="['/edit-task', task._id]">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="danger" (click)="deleteTask(task._id)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>

  <ion-text *ngIf="tasks.length === 0" color="medium">
    <p class="ion-text-center">No tasks yet. Go create one!</p>
  </ion-text>
</ion-content>