# Build
target/
# Keep Maven wrapper
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
.mvn/timing.properties

# Logs
*.log

# IDE
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Misc
*.swp
